  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
  .container .skewBtn1 {
    width: 160px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    font-family: "Lato", sans-serif;
  }

  .container .skewBtn2 {
    width: 220px;
    height: 40px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    font-family: "Lato", sans-serif;
  }

  .container .skewBtn1:hover {
    border: none;
    color: white;
    font-size: 16px;
    transform: scale(0.9);
  }

  .container .skewBtn2:hover {
    border: none;
    color: white;
    font-size: 16px;
    transform: scale(0.9);
  }

  .upload-box{
    font-size: 16px;
    /* background:white; */
    background: black;
    border-radius: 25px;
    box-shadow: 2px 2px 5px black;
    color: white;
    width: 275px;
    outline: none;
    padding: 3px;
  }

  ::-webkit-file-upload-button{
    color: black;
    background: white;
    padding: 10px;
    border: none;
    border-radius: 25px;
    outline: none;
  }

  ::-webkit-file-upload-button:hover{
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    border: none;
    color: white;
    font-size: 16px;
    transform: scale(0.9);
  }

  .submitContainer {
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
  }

  .submitContainer .submit {
    width: 120px;
    height: 35px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    /* border-width: 5px; */
    font-family: "Lato", sans-serif;
    margin-left: 25px;
  }

  .submitContainer .submit:hover {
    border: none;
    color: white;
    font-size: 16px;
    transform: scale(0.9);
  }

  .buttonsContainer .buttons {
    width: 35px;
    height: 25px;
    outline: none;
    cursor: pointer;
    background: none;
    transition: 0.5s;
    font-size: 16px;
    font-weight: bold;
    border-radius: 6px;
    /* border-width: 5px; */
    font-family: "Lato", sans-serif;
    margin-left: 3px;
  }

  .buttonsContainer .buttons:hover {
    border: none;
    color: white;
    font-size: 16px;
    transform: scale(0.9);
  }

  .black {
    border: 2px solid #000000;
    color: #000000;
  }
  .black:hover {
    background-color: #000000;
    transition: all 0.3s ease-in-out;
  }

